@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColorRed: #DB3A34;
    --bgColorGrey: #F7F7F7;
    --bgColorYellow: #FFD68F;
    --bgColorDarkGrey: #D9D9D9;
    --bgColorDarkbtn: #6D7F86;
    --textColor: #425860;
}

*{
    font-family: "Montserrat", sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
}



/*Loging*/
.login-container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, #ff592f, #feb47b);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginr{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    padding: 2%;
    justify-content: center;
}

.title{
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 3%;
}

.subtitle{
    font-size: small;
    font-weight: 500;
}

input.input{
    width: 100%;
    padding:3% 0;
    margin-bottom: 2%;
    border-radius: 1vh;
    padding-left: 2%;
}

input.button{
    padding: 3% 0;
    background-color: #000000;
    border-color: transparent;
    color: white;
    border-radius: 1vh;
    width: 100%;
    margin-top: 1%;
}

.register-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register-text{
    font-size: small;
    margin-top: 3%;
}

.href{
    font-size: small;
    margin-top: 3%;
    color: #000000;
    margin-left: 1%;
}